<div class="outer">
    <div class="container">
        <div class="row">
           <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <div class="panel border bg-white">
                    <div class="panel-heading">
                       <h3 class="pt-3 font-weight-bold">Sign Up</h3>
                    </div>
                    <div class="panel-body p-3">
                        <nz-form [formGroup]="form" nzLayout="vertical">
                            <nz-form-item class="input-field">
                                    <span class="fa fa-user p-2"></span>
                                    <nz-form-control nzErrorTip="Please enter your First Name!">
                                        <input type="text" placeholder="First Name" formControlName="firstName">
                                    </nz-form-control>
                            </nz-form-item>

                            <nz-form-item class="input-field">
                                <span class="fa fa-user p-2"></span>
                                <nz-form-control nzErrorTip="Please enter your Last Name!">
                                    <input type="text" placeholder="Last Name" formControlName="lastName">
                                </nz-form-control>
                            </nz-form-item>

                            <nz-form-item class="input-field">
                                <span class="fa fa-user-circle p-2"></span>
                                <nz-form-control nzErrorTip="Please enter a Username!">
                                    <input type="text" placeholder="Username" formControlName="username">
                                </nz-form-control>
                            </nz-form-item>

                            <nz-form-item class="input-field">
                                <span class="fa fa-users p-2"></span>
                                <nz-form-control nzErrorTip="Role must be CUSTOMER or PROVIDER!">
                                  <nz-select formControlName="role" class="custom-select">
                                    <nz-option nzLabel="Select Role" nzValue=""></nz-option>
                                    <nz-option nzLabel="CUSTOMER" nzValue="CUSTOMER"></nz-option>
                                    <nz-option nzLabel="PROVIDER" nzValue="PROVIDER"></nz-option>
                                  </nz-select>
                                </nz-form-control>
                            </nz-form-item>                                                                                  

                            <nz-form-item class="input-field">
                                <span class="fa fa-envelope p-2"></span>
                                <nz-form-control nzErrorTip="Please enter a valid E-mail!">
                                    <input type="text" placeholder="Email" formControlName="email">
                                </nz-form-control>
                            </nz-form-item>

                            <nz-form-item class="input-field">
                                    <span class="fa fa-lock p-2"></span>
                                    <nz-form-control [nzErrorTip]="getErrorMessage('password')">
                                        <input [type]="type" placeholder="Password" formControlName="password">
                                    </nz-form-control>
                                    <span (click)="hideShowPassword()" class="fa {{eyeIcon}}"></span>
                            </nz-form-item>

                            <nz-form-item class="input-field">
                                <span class="fa fa-lock p-2"></span>
                                <nz-form-control nzErrorTip="Passwords don't match! Check again!">
                                    <input [type]="type" placeholder="Confirm Password" formControlName="confirmPassword">
                                </nz-form-control>
                                <span (click)="hideShowPassword()" class="fa {{eyeIcon}}"></span>
                            </nz-form-item>

                            <button nz-button nzType="primary" style="width: 100%; border-radius: 20px; margin-top: 5px;"
                                    [disabled]="isDisabled" (click)="onSubmit()">Sign Up</button>

                            <div class="text-center pt-4 text-muted">Already have account? 
                                <a id="forget" routerLink="/login">Login </a>
                            </div>
                        </nz-form>
                    </div>
                </div>
           </div>
        </div>
    </div>
</div>
