<div class="outer">
    <div class="container">
        <div class="row">
           <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <div class="panel border bg-white">
                    <div class="panel-heading">
                       <h3 class="pt-3 font-weight-bold">Sign Up</h3>
                    </div>
                    <div class="panel-body p-3">
                        <nz-form [formGroup]="form" nzLayout="vertical">
                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <span class="fa fa-user p-2"></span>
                                    <input type="text" placeholder="First Name" formControlName="firstName">
                                </div>
                            </div>
                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <span class="fa fa-user p-2"></span>
                                    <input type="text" placeholder="Last Name" formControlName="lastName">
                                </div>
                            </div>
                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <span class="fa fa-user p-2"></span>
                                    <input type="text" placeholder="Email" formControlName="email">
                                </div>
                            </div>
                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <span class="fa fa-user p-2"></span>
                                    <input type="text" placeholder="Username" formControlName="username">
                                </div>
                            </div>
                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <span class="fa fa-lock p-2"></span>
                                    <input [type]="type" placeholder="Password" formControlName="password">
                                    <span (click)="hideShowPassword()" class="fa {{eyeIcon}}"></span>
                                </div>
                            </div>
                            <div class="form-group pt-3">
                                <div class="input-field">
                                    <span class="fa fa-lock p-2"></span>
                                    <input [type]="type" placeholder="Confirm Password" formControlName="confirmPassword">
                                    <span (click)="hideShowPassword()" class="fa {{eyeIcon}}"></span>
                                </div>
                            </div>
                            <button nz-button nzType="primary" style="width: 100%; border-radius: 20px; margin-top: 5px;"
                                    [disabled]="isDisabled">Sign Up</button>
                            <div class="text-center pt-4 text-muted">Already have account? 
                                <a id="forget" routerLink="/login">Login </a>
                            </div>
                        </nz-form>
                    </div>
                </div>
           </div>
        </div>
    </div>
</div>
