/* Custom styles for the search bar */
.my-search-bar {
  margin-bottom: 20px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  padding: 8px;
  width: 300px;
  transition: width 0.3s ease;
}

.my-search-bar:focus-within {
  width: 400px;
  outline: none;
}

.my-search-bar input {
  background-color: transparent;
  width: 100%;
  font-size: 14px;
  color: #333;
}

/* Custom styles for the table */
.table-container {
    padding: 2rem;
  
    .table-operations {
      margin-bottom: 1rem;
      display: flex;
      flex-direction: row;
      gap: 1rem;
    }
}
  
.image-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 250px;
  width: 170px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  filter: grayscale(0);
  transition: filter 0.2s ease-in-out;
  transition: all 0.3s ease-out; 
}

.image-card:active {
  position: fixed;
  top: 50%; /* move card to center vertically */
  left: 50%; /* move card to center horizontally */
  transform: translate(-50%, -50%) scale(2.5); /* scale up the card to 2.5 times its original size */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.image-card:hover {
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
  filter: grayscale(0.5);
}

.icon-container{
  display: flex;
  flex-direction: column;
  
  .icon {
    background-color: #f2f2f2;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}

.rating {
  font-size: 0;
}

.star {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('https://th.bing.com/th/id/OIP.sl1d_pgEDvBbumu5QZRc3wHaHa?pid=ImgDet&rs=1');
  background-repeat: no-repeat;
  background-size: contain;
}

.star.filled {
  background-image: url('https://th.bing.com/th/id/R.5aaf025b9db72e5070f74d9ef6b82a6a?rik=Dca9o%2fQvqpX1cw&riu=http%3a%2f%2fclipart-library.com%2fimage_gallery%2fn1769511.png&ehk=ls9UnSl3RDYaNKSWPDQ4%2fbwCnnLB1rynA5ZGsHCAXNI%3d&risl=&pid=ImgRaw&r=0');
}

.star.empty {
  background-image: url('https://s3-eu-west-1.amazonaws.com/uploads.playbaamboozle.com/uploads/images/50301/1599754069_22064');
}

.star.half-star {
  background-image: url('https://th.bing.com/th/id/OIP.AfuM183SZvpY3Uty0u3NsgHaHa?pid=ImgDet&rs=1');
}


